<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <!-- <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">

         
            <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user" class="mr-3"></mdb-icon>products</a>
          
        </div>

    </div> -->
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-5">
            <!-- <a class="navbar-brand" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/"> -->
                <strong class="blue-text">MENU</strong>
            <!-- </a> -->
        </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                    <a class="nav-link" mdbWavesEffect>Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="" mdbWavesEffect>About </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" >Contact</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="" >Shop</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="" >Collection </a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="" >Brand </a>
                            </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="https://mdbootstrap.com/angular/angular-tutorial/" target="_blank" mdbWavesEffect>Free tutorials</a>
                </li>  -->
            </ul>
      
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->