<div>

<button class="btn-success" (click)=add()>    Add   </button> &nbsp;
<!-- <button class="btn btn-secondary" (click)=back()> Back   </button> -->
</div>

<div *ngIf="!show">

<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
          <strong>Product</strong> 
        </div>
        <div class="card-body">
          <form role="form" name="form" (ngSubmit)="f.form.valid && submit(f)" #f="ngForm" novalidate class="form-horizontal">
        


            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="text-input">Product Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control"  [(ngModel)]="model.prdctname" name = "prdctname" placeholder="Product Name" autocomplete="prdctname" required #prdctname = "ngModel">
                <div *ngIf="prdctname.invalid && (f.submitted || prdctname.touched)" class="help-block">
                  <div style="color: red" *ngIf="prdctname.errors.required">Product is required. </div>
                  <!-- <div style="color: red" *ngIf="Username.errors.pattern">Username is Invalid.</div> -->
                </div>              
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email-input">Product Prices</label>
              <div class="col-md-9">
                <input type="text" class="form-control"  [(ngModel)]="model.price" name = "price" placeholder="Product price" autocomplete="price" required #price = "ngModel">
                <div *ngIf="price.invalid && (f.submitted || price.touched)" class="help-block">
                  <div style="color: red" *ngIf="price.errors.required">Product is required. </div>
                  <!-- <div style="color: red" *ngIf="Username.errors.pattern">Username is Invalid.</div> -->
                </div>               </div>
            </div>
    
         
            
       
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="file-input">Product image</label>
              <br /><br />
              <div class="col-md-9">
                  <img src={{model.image}} height="60" width="70" />
                  <br />
                  <img [src]="url1" height="100" width="100" *ngIf="url1 && filename != '' && fileImage ">
                <input id="fileupload" [(ngModel)]="model.uploadImage1" accept='image/*'
                (change)="fileChangeEvent($event)" type="file" name="file" />              </div>
            </div>
            <div class="card-footer">
              <button  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button  class="btn btn-sm btn-danger" (click)="back()"><i class="fa fa-ban"></i> Back</button>
            </div>
          </form>
        </div>
       
      </div>
     
    </div>
   

  </div>
 


 
</div>

</div>
<div *ngIf ="show">
<table class="table table-hover">
  <thead>
  <tr>
      <td> <strong>Product  Name</strong> </td>
      <td> <strong> Product Price</strong> </td>
      <!-- <td>Product Price</td> -->
      <td colspan="2"> <strong>Action</strong></td>
  </tr>
  </thead>

  <tbody>
      <tr *ngFor="let product of products">
          <td>{{ product.prdctname }}</td>
          <td>{{ product.price }}</td>
          <!-- <td>{{ product.price }}</td> -->
          <td (click) = "edit(product._id)" class="btn btn-primary">Edit</td>
          <td (click) ="delete( product._id)" class="btn btn-danger">Delete</td>
      </tr>
  </tbody>
</table>
</div>