<div class="row" >
    <div class="col-md-3" *ngFor="let data of productss">

        <mdb-card cascade="true" narrower="true" class="d-flex mb-5">

              

            <div class="view overlay hm-white-slight">
              
                     <pinch-zoom>
                        <img src="{{data.image}}"  class="img-fluid" alt=""  style="width:270px; height:350px"> 
                    </pinch-zoom>                   
                
            </div>

            <mdb-card-body>
                <h4 class="card-title font-bold mb-3"><strong>{{data.prdctname}}</strong></h4>
                <p class="card-text">
                </p>
            </mdb-card-body>

            <div class="card-footer links-light">
                <span class="right">
                     ${{data.price}}
                </span>
            </div>

        </mdb-card>
    </div>

   

</div>
