<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form  role="form" name="form" (ngSubmit)="f.form.valid && Login(f)" #f="ngForm" novalidate>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                 
                
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="model.email" name="email" placeholder="Email" autocomplete="email"  required #email="ngModel"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email = "ngModel">
                       <div *ngIf="email.invalid && (f.submitted || email.touched)" class="help-block">
                        <div style="color: red" *ngIf="email.errors.required"> Email Address is required. </div>
                        <div style="color: red" *ngIf="email.errors.pattern"> Email Address is Invalid.</div>
                      </div>
                    </div>
    
    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" [(ngModel)]="model.password" name="password" placeholder="password" autocomplete="new-password" required 
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  #password="ngModel">
                      <div *ngIf="password.invalid && (f.submitted || password.touched)" class="help-block">
                        <div style="color: red" *ngIf="password.errors.required"> Password is required </div>
                        <div style="color: red" *ngIf="password.errors.pattern"> Must contain at least one number and one
                          uppercase and lowercase letter, and at least 8 or more characters </div>
                      </div>
                    </div>
                  <div class="row">
                    <div class="col-6">
                      <button  class="btn btn-primary px-4">Login</button>
                    </div>
                    <!-- <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div> -->
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Welcome Admin</p>
                  <button type="button"  routerLink="/register"class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
