<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form  role="form" name="form" (ngSubmit)="f.form.valid && Register(f)" #f="ngForm" novalidate  [mustMatch]="['password', 'confirmPassword']">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  
                  <input type="text" class="form-control"  [(ngModel)]="model.Username" name = "Username" placeholder="Username" autocomplete="username" required #Username = "ngModel">
                  <div *ngIf="Username.invalid && (f.submitted || Username.touched)" class="help-block">
                    <div style="color: red" *ngIf="Username.errors.required">Username is required. </div>
                    <!-- <div style="color: red" *ngIf="Username.errors.pattern">Username is Invalid.</div> -->
                  </div>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" [(ngModel)]="model.email" name="email" placeholder="Email" autocomplete="email"  required #email="ngModel"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email = "ngModel">
                   <div *ngIf="email.invalid && (f.submitted || email.touched)" class="help-block">
                    <div style="color: red" *ngIf="email.errors.required"> Email Address is required. </div>
                    <div style="color: red" *ngIf="email.errors.pattern"> Email Address is Invalid.</div>
                  </div>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" [(ngModel)]="model.password" name="password" placeholder="password" autocomplete="new-password" required 
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  #password="ngModel">
                  <div *ngIf="password.invalid && (f.submitted || password.touched)" class="help-block">
                    <div style="color: red" *ngIf="password.errors.required"> Password is required </div>
                    <div style="color: red" *ngIf="password.errors.pattern"> Must contain at least one number and one
                      uppercase and lowercase letter, and at least 8 or more characters </div>
                  </div>
                </div>


                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="confirmPassword" class="form-control" [(ngModel)]="model.confirmPassword" name="confirmPassword" placeholder="confirmPassword" autocomplete="new-password" required 
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  #confirmPassword="ngModel">
                  <div *ngIf="confirmPassword.invalid && (f.submitted || confirmPassword.touched)" class="help-block">
                    <div style="color: red" *ngIf="confirmPassword.errors.required"> confirmPassword is required </div>
                    <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>

                  </div>
                </div>

                <button  class="btn btn-block btn-success">Create Account</button>
                <button routerLink="/login" class="btn btn-block btn-success">Signin</button>

              </form>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
